#centrar{
    width: 800px;
    margin: 0 auto;
}




ul.trabajos li {
  display: inline;
  padding-right: 3em;

}

.h1
{

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100%;
width: 100% ;
text-align: center;
}


input{
    border-radius: 5px;
}

footer{
    background: rgb(121, 83, 83);
}

li{
    list-style:none;
}

/*imagenes-dev*/
.circular--square {
    border-radius: 50%;
  }

 